/* Always design mobile first */
.button {
    display: inline-block;
    font-size: var(--fs-5);
    font-weight: 700;
    line-height: 1.625;
    padding: 11px 14.6835px 11px 13.6835px;
    border-radius: 8px;
    text-transform: uppercase;
    transition: 150ms ease-in-out;
    transition-property: color, background;
}

@media (width >= 48em) {
    .button {
     padding: 16px 27.1835px 16px 26.1835px;
    }
}

.button.grey {
    color: var(--color-dark-blue);
    background: var(--color-grey);
}

.button.grey:hover {
    color: var(--color-white);
    background: var(--color-dark-blue);
}

.button.orange {
    color: var(--color-white);
    background: var(--color-orange);
}

.button.orange:hover {
    color: var(--color-white);
    background: var(--color-light-orange);
}