.header {
    display: flex;
    padding-block: 23px 64px;
    justify-content: space-between;
    align-items: center;
}

@media (width >= 48em) {
    .header {
        padding-block: 40px 62px;
    }
}

@media (width >= 75em) {
    .header {
        padding-block: 55px 83px;
    }
}